html {
    background-image: url("../img/hamburger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  login-div{
position: absolute;
  }

#contact-form fieldset {
    width:40%;
}
#contact-form li {
    margin:10px; 
    list-style: none;
}
#contact-form input  {
    margin-left:45px; 
    text-align: left;
}
#contact-form textarea {
    margin-left:10px; 
    text-align: initial;
}
textarea {
    width: 60%;
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
   
    resize: both;
  }
  .container{
     background-color: lightblue ; 
  }
  
  iframe {
    background-color: lightblue;
    object-position: left;
    position: static;
    

    
  }
  .idojaras {
    
    position: fixed ;
    right: 300px;
    width: 500px;
    background-position: center;
  }
  
  

  #leftimage {
  position: fixed ;
  float: left;
  padding-top: 5%;
  border-radius: 70%;
  height: 450px;
    }

  #rightimage {
    position: relative ;
    float: right;
    padding-top: 5%;
    border-radius: 50%;
    
  }
  img {
    
    border-radius: 8px;
    height: 400px;
  }    

