html {
    background-color: yellowgreen;
}
/*----Ez az űrlap*/
#urlap
{
width: 850px;
margin: 0 auto;
background: url("../img/backgr.blue3.jpg");

background-color: yellowgreen;
border: 0px solid #aa6666;
padding: 15px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
#kitolt {
  font-style: justify;
}

.checkbox {
 font-size: 18px; 
}
#quantity 
{
  font-size: 11px ;
  height: 18px;
}

#tartalom 
{
width: 400px;
padding-left:245px;
padding-top: 20px;
}

.cimke /*-------------------------------------------beviteli mezők cimkéje*/
{
font-size: 16px;
font-weight: bold;
color:  black;
margin: 25px 240px 8px 0px;
width:300px;
}

.beviteli /*-----------------------------------ez tartalmazza a beviteli mezőt*/
{
margin: 25px 240px 8px 0px;
width:405px;
font-size: 16px;
color: black;
box-shadow: black;
}

.show-amount 
{
color: darkblue;
}

#quantity 
{
  
  width:30px;
  font-size: 13px;
  color: black;
  font-weight: 700;
  box-shadow: black;

}
#mezo  /*-----------------------------------ez a beviteli mező*/
{
width: 300px;
height: 25px;
border: 2px solid #38244a;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-weight: bold;
font-size: 12px


}
#gombtarto  /*-------------------------------ebben van a gomb*/
{
margin: 10px 0px 10px 0px;


}
#gomb
{
background: #38244a;
color: #fff;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-weight: bold;
font-size: 18px;
border: 0px solid #38244a;
width: 150px;
height: 50 px;


}

#gomb:hover
{
border: 0px solid #ea155f;
background: #877993;
}

/* ----------------------------------------------eddig tart az Űrlap */

/* itt kezdődik a navbar css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
login-div{
position: absolute;
}

.informaciok {
    text-align: justify;
}
/*Eddig tart a navbar css */
h6 {
  text-align: center;
  
}
h3 {
  text-align: center;
color:blue;
} 
/* Itt kezdődik a fizetendő összeg kiszamítása css */

.container {
  width: 440px;
	height: 90px;
	display: block;
	color: black;
	margin: 0 auto 0 auto;
}
