ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  login-div{
position: absolute;
  }
img 
{
    border-radius: 50%;
    max-width: 130px; 
    max-height: 130px;
    box-shadow: black;
  }
#leftimages {
    position: relative ;
    float: left;
    padding-top: 15px;
    padding-left: 12%;
    border-radius: 50%;
    height: 450px;
      }
#rightimages {
        position: relative ;
        float: right;
        padding-top: 15px;
        padding-right: 12%;
        border-radius: 50%;
      }
      h5 {
        text-align: center;
        
      }
      h2, h3 {
        text-align: center;
      color:blue;
    } 